#cpbody {
    height: 100vh;
    overflow: hidden;
}

#dchart {
    width: 20vh;
    height: 20vh;
    display: inline-block;
    margin-left: 5vh;
    margin-right: 5vh;
    min-height: 15vh;
    min-width: 15vh;
}

#donutchartswrapper {
    height: 30vh;
    text-align: center;
}

#cpcontrols {
    margin-left: 5vh;
    margin-right: 5vh;
    text-align: center;
}

#cpcontrols button {
    font-size: 2vh;
    text-align: center;
    white-space: normal;
}

#ipcontainer {
    display: inline-block;
    font-size: 3vh;
    white-space: nowrap;
}

#versioncontainer {
    display: inline-block;
    margin-left: 3vh;
    font-size: 3vh;
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
    #menu-toggle {
		display: none;
    }
}

#menu-toggle {
    width: 5vh;
    height: 5vh;
    text-align: center;
}

#menu-toggle span {
    font-size: 2.5vh;
}

#usrimg {
    border: 1px solid #999999;
    max-height: 3vh;
    min-height: 3vh;
    max-width: 3vh;
    min-width: 3vh;
}

#consolewrapper {
	
}

#console {
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    font-family: monospace;
    font: Lucida Console;
    border: 1px solid black;
    text-align: center;
	transition: border-radius 2s, background-color 2s, height 2s, border 2s;
}

#console textarea {
    border: none;
    resize: none;
    width: calc(60vw - 40px);
    height: calc(60vh - 30px);
    border-top-left-radius: 10px;
    float: left;
    border-right: 1px solid black;
	transition: border-top-left-radius 2s, background-color 2s, border-right 2s, color 2s, height 2s;
}

#consoleinput {
    width: 59.9vw;
    color: black;
    font-family: monospace;
    font: Lucida Console;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: hidden;
    border-top: 1px solid black;
    border-right: hidden;
    border-left: hidden;
	background-color: transparent;
	transition: display 2s;
}

#consolebuttons {
    text-align: center;
}

#cnslchangecolor {
    margin-top: 2vh;
    border: none;
    background-color: white;
	padding: 0;
	transition: background-color 2s, color 2s;
}

#cnslautochat {
	margin-top: 1vh;
    border: none;
    background-color: white;
	padding: 0;
	transition: background-color 2s, color 2s;
}

#cnslchangecolor::before {
    font-size: 25px;
}

#cnslautochat::before {
    font-size: 25px;
}

@media screen and (max-width: 767px) {
	#console {
		width: inherit;
		height: calc(100vh - 126px);
	}
	
	#console textarea {
		width: calc(100vw - 70px);
		height: calc(100vh - 151px);
	}
	
	#consoleinput {
		width: calc(100vw - 31px);
	}
}

@media screen and (min-width: 1920px) {
	#console {
		width: 65vw;
		height: 65vh;
	}
	
	#console textarea {
		width: calc(65vw - 50px);
		height: calc(65vh - 40px);
	}
	
	#cnslchangecolor::before {
		font-size: 35px;
	}

	#cnslautochat::before {
		font-size: 35px;
	}
	
	#consoleinput {
		width: 64.9vw;
	}
}

#wrapper.toggled #consolewrapper {
	width: 100vw;
}

#wrapper.toggled textarea {
	width: 100vw;
}

#wrapper.toggled #consolebuttons {
	display: none;
}

#wrapper.toggled #consoleinput {
	width: 100vw;
}

#btnsdelreset {
    margin-top: 5vh;
}

#btnsdelreset button {
    font-size: 2vh;
}

#pswrddel {
    width: 40%;
    float: left;
    text-align: center;
}

#pswrdreset {
    width: 40%;
    float: right;
    text-align: center;
}