body {
	background-image: url(../pics/minecraft-create-server-bg.jpg);
}

#nav-nomargin {
   background-color: rgba(248, 248, 248, 0);
   border-bottom: 1px solid rgba(127, 127, 127, 0);
   box-shadow: 0 1px 1px rgba(127, 127, 127, 0);
   transition: all 0.5s;
}

#navbar-logo {
	color: #fff;
}

#myNavbar > ul > li > a {
	color: #fff;
}