.progress {
	margin-bottom: 5px;
}

#cookie-notice {
	width: 100vw;
	height: 70px;
	position: fixed;
	bottom: 0;
	background-color: #eee;
	text-align: center;
	font-size: 15px;
	padding-top: 20px;
	padding-right: 20px;
	z-index: 2;
	display: none;
}

#cookie-notice-button {
	width: 10vw;
	background-color: #ddd;
	height: 30px;
	position: fixed;
	z-index: 2;
	bottom: 20px;
	left: 75vw;
	text-align: center;
	display: none;
}

#main-pic {
	position: fixed;
	min-width: 104vw;
	min-height: 104vh;
	left: -2vw;
	bottom: -2vw;
	filter: blur(4px);
	z-index: -1;
}

.center-box {
	width: 90vw;
	margin-left: 5vw;
}

#upper-box > div {
	display: inline-block;
}

#upper-box > a {
	display: inline-block;
}

#middle-box {
	width: 40vw;
	display: inline-block;
	vertical-align: top;
	margin-top: 2.5%;
	margin-left: 30vw;
}

#middle-box div {
	width: 0%;
	margin-top: 2.5%;
	padding-top: 0%;
	border-radius: 50%;
	margin-left: 15%;
	display: inline-block;
	text-align: center;
	animation-name: popup;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

#feature-uptime {
	background-color: rgba(0, 95, 159, 0.75);
	background-image: url("/pics/uptime-arrow.png");
	background-position: center;
	background-size: 65%;
	background-repeat: no-repeat;
	animation-delay: 0.5s;
}

@keyframes popup {
	0% {padding-top: 0%; width: 0%; margin-left: 30%; margin-top: 17.5%}
	90% {padding-top: 35%; width: 35%; margin-left: 12.5%; margin-top: 0%}
	100% {padding-top: 30%; width: 30%; margin-left: 15%; margin-top: 2.5%}
}

#get-server {
	background-color: rgba(0, 127, 0, 0.75);
	width: 40vw;
	text-align: center;
	font-size: 40px;
	padding: 10px;
	margin-left: 25vw;
	border: 2px solid rgba(0, 95, 0, 0.25);
	border-radius: 4px;
	font-family: normal;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.75);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#stats {
	background-color: white;
	width: 20vw;
	margin-left: 4.5vw;
	border: 1px solid #f0f0f0;
	border-radius: 2px;
	padding: 2px 5px;
}