@font-face {
    font-family: Viking;
    src: url(../fonts/Viking.ttf);
}

.jumbotron {
    background-image: url('../pics/277H.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
    text-align: center;
    padding-top: 0px;
    -webkit-overflow-scrolling: touch;
}

#title {
    margin-top: 20px;
    color: #ffffff;
	font-family: 'Yatra One', cursive;
}

#subtitle {
	color: #ddf;
	font-family: 'David Libre', serif;
}

#getserver {
    font-size: 3vh;
	padding: 12px 48px;
}

#features-title {
    text-align: center;
	font-family: 'David Libre', serif;
}

#feature-img {
 
}

#feature-img-container {
    align-content: center;
}

#jumbo-container {
    margin-top: 10px;
    margin-bottom: 35vh;
}

#feature-text {
    color: black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#feature-text-title {
    text-align: center;
	font-family: 'David Libre', serif;
}

.white-glyphicon, .white-glyphicon a {
    color: #ffffff;
    font-size: 45px;
	animation-name: bounce;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.white-glyphicon:hover {
    text-decoration: none;
	color: white;
}

@keyframes bounce {
	0%, 75% {
		transform: translateY(0px);
	}
	82.5% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

#pricing-title {
    text-align: center;
	font-family: 'David Libre', serif;
}

#pricing-text {
    color: black;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

#pricing-text-title {
    text-align: center;
	font-family: 'David Libre', serif;
}

#about-text-title {
    color: white;
    text-align: center;
}

#pricing-img {
    border: 1px solid;
    border-color: #3b3b3b;
}

#about-text {
    color: white;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0.3vh;
}

#about-text-container {
    background-color: #3b3b3b;
    margin: 0px;
}

#cookies {
    background-color: #76c9b9;
    font-size: 2vh;
    font: url("../fonts/Viking.ttf");  
}

#cookies p {
    color: #fff; 
}

#cookies p a {
    color: #fff;
}

#cookie-notice {
    width: 100%;
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	background-color: #f8f8f8;
	border-top: 1px solid rgba(127, 127, 127, 0.5);
	z-index: 1;
	text-align: center;
	display: none;
}

#cookie-notice-button {
	margin-left: 20px;
    display: none;
}

#stats-table {
	width: 100%;
}

td.stats-val {
	color: white;
	padding-left: 25%;
	width: 32%;
}

.stats-txt {
	color: white;
	margin-left: 15px;
	margin-bottom: 0;
}

#nav-nomargin {
   margin-bottom: 0px;
   background-color: rgba(248, 248, 248, 0);
   border-bottom: 1px solid rgba(127, 127, 127, 0);
   box-shadow: 0 1px 1px rgba(127, 127, 127, 0);
   transition: all 0.5s;
}

#navbar-logo {
	color: #fff;
}

#myNavbar > ul > li > a {
	color: #fff;
}

#myNavbar > ul > li > a:hover {
	color: #333;
}