#login-form {
    margin-top: 30vh;
    background-color: #3b3b3b;
    text-align: center;
    color: white;
} 

#pwd {
    max-width: 50vw;
    margin: 0 auto;
}

#email {
    max-width: 50vw;
    margin: 0 auto;
}

#login-button {
    
}