#login-form {
    margin-top: 30vh;
    text-align: center;
    color: white;
} 

#pwd {
    max-width: 30vw;
    margin: 0 auto;
}

#email {
    max-width: 30vw;
    margin: 0 auto;
}

#login-button {
    
}

body {
    background-image: url(../pics/277H.jpg);
    background-repeat: no-repeat;
    background-position: center;
}