#nav-bar {
	background-color: rgba(240, 240, 240, 0.5);
	width: 100vw;
	font-family: Viking;
	font-size: 35px;
	padding: 9px;
	border-bottom: 1px solid rgba(208, 208, 208, 0.5);
	position: fixed;
	z-index: 1;
}

#top-box {
	color: transparent;
	width: 100vw;
	font-family: Viking;
	font-size: 35px;
	padding: 9px;
	border-bottom: none;
	position: relative;
	z-index: -1;
}