ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.horizontal {
    float: right;
}

li.horizontal a {
    display: block;
    color: white;
    text-align: center;
    padding: 2.5vh 2vw;
    font-size: 2vw;
    font-family: "Viking";
	transition: color 0.3s;
}

li.horizontal a:hover {
    color: #212130;
	font-weight: bold;
}

#banner {
	float: left;
	margin: 2.5px;
}

#nav-bar {
	background: linear-gradient(to right, rgba(33, 33, 48, 1), rgba(33, 33, 48, 0.2));
	width: 100%;
	height: 65px;
	position: fixed;
	z-index: 2;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
	li.horizontal a {
		line-height: 0;
	}
}