ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.horizontal {
    float: right;
}

li.horizontal a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 1.5vw;
    font-family: "Viking";
	transition: color 0.3s;
}

li.horizontal a:hover {
    color: #212130;
	font-weight: bold;
}

#banner {
	float: left;
	margin: 2.5px;
	width: 20vw;
}

#nav-bar {
	background: linear-gradient(to right, rgba(33, 33, 48, 1), rgba(33, 33, 48, 0.2));
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 0;
}

@media only screen and (min-device-width : 1500px) {
	li.horizontal a {
		font-size: 30px;
		line-height: 20px;
	}
}