body {
    position: relative;
}
.jumbotron {
    
    background-image: url('../pics/277H.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
    text-align: center;
    padding-top: 0px;
    -webkit-overflow-scrolling: touch;
}

#title {
    margin-top: 20px;
    color: #ffffff;
}

#getserver {
    
    font-size: 3.5vh;
}

#nav-nomargin {
   margin-bottom: 0px;
   border-bottom: 1px solid rgba(127, 127, 127, 0.5);
}

#features-title {
    
    text-align: center;
}

#feature-img {
 
}

#footer {
    color: white;
    text-align: center;
    font-size 2vh;
    background-color: #3b3b3b;
}

#center-text-footer {
    display: inline-block;
}

#feature-img-container {
    
    align-content: center;
}

#jumbo-container {
    margin-top: 10px;
    margin-bottom: 40vh;
    
}

#feature-text {
    color: black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#feature-text-title {
    text-align: center;
}

.white-glyphicon, .white-glyphicon a {
    color: #ffffff;
    font-size: 45px;
	animation-name: bounce;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.white-glyphicon:hover {
    text-decoration: none;
	color: white;
}

@keyframes bounce {
	0%, 75% {
		transform: translateY(0px);
	}
	82.5% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

#pricing-title {
    
    text-align: center;
}

#pricing-text {
    color: black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#pricing-text-title {
    text-align: center;
}

#about-text {
    color: black;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

#about-text-container {
    background-color: #d1d1d1;
    margin: 0px;
}