body {
    position: relative;
}

@font-face {
    font-family: Viking;
    src: url(../fonts/Viking.ttf);
}

.jumbotron {
    
    background-image: url('../pics/277H.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
    text-align: center;
    padding-top: 0px;
    -webkit-overflow-scrolling: touch;
}

#title {
    margin-top: 20px;
    color: #ffffff;
}

#getserver {
    
    font-size: 3.5vh;
}

#nav-nomargin {
   margin-bottom: 0px;
   border-bottom: 1px solid rgba(127, 127, 127, 0.5);
}

.navbar-brand {
	font-family: Viking;
}

#features-title {
    
    text-align: center;
}

#feature-img {
 
}

#footer {
    color: white;
    text-align: center;
    font-size 2vh;
    background-color: #3b3b3b;
}

#center-text-footer {
    display: inline-block;
}

#feature-img-container {
    
    align-content: center;
}

#jumbo-container {
    margin-top: 10px;
    margin-bottom: 40vh;
    
}

#feature-text {
    color: black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#feature-text-title {
    text-align: center;
}

.white-glyphicon, .white-glyphicon a {
    color: #ffffff;
    font-size: 45px;
	animation-name: bounce;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.white-glyphicon:hover {
    text-decoration: none;
	color: white;
}

@keyframes bounce {
	0%, 75% {
		transform: translateY(0px);
	}
	82.5% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

#pricing-title {
    
    text-align: center;
}

#pricing-text {
    color: black;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

#pricing-text-title {
    text-align: center;
}
#about-text-title {
    color: white;
    text-align: center;
}

#pricing-img {
    border: 1px solid;
    border-color: #3b3b3b;
}

#about-text {
    color: white;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0.3vh;
}

#about-text-container {
    background-color: #3b3b3b;
    margin: 0px;
}

#login-form {
    margin-top: 30vh;
    background-color: #3b3b3b;
    text-align: center;
    color: white;
} 

#pwd {
    max-width: 50vw;
    margin: 0 auto;
}

#email {
    max-width: 50vw;
    margin: 0 auto;
}

#login-button {
    
}

#register {
	margin-top: 30vh;
    background-color: #3b3b3b;
    text-align: center;
    color: white;
    
}

#passwrd {
	max-width: 50vw;
	margin: 0 auto;
}

#regemail {
	max-width: 50vw;
	margin: 0 auto;
}

#register-button {

}

#logregbody {
    background-image: url(/Nordic-Network/public/pics/277H.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#cpbody {
    height: 100vh;
}

#dchart {
    width: 20vh;
    height: 20vh;
    display: inline-block;
    margin-left: 5vh;
    margin-right: 5vh;
    min-height: 15vh;
    min-width: 15vh;
}

#donutchartswrapper {
    height: 30vh;
    text-align: center;
}

#cpcontrols {
    margin-left: 5vh;
    margin-right: 5vh;
}

#cpcontrols button {
    font-size: 2vh;
    width: 4vw;
}
