body {
    position: relative;
}

#nav-nomargin {
   margin-bottom: 0px;
   border-bottom: 1px solid rgba(127, 127, 127, 0.4);
   box-shadow: 0 1px 1px rgba(127, 127, 127, 0.2);
}

.navbar-brand {
	font-family: Viking;
}

#myNavbar > ul > li > a:hover {
	color: #333;
}

#footer {
    color: white;
    text-align: center;
    font-size 2vh;
    background-color: #3b3b3b;
}

#footer p {
	margin-top: 10px;
}

#center-text-footer {
    display: inline-block;
}