@font-face {
    font-family: Viking;
    src: url(../fonts/Viking.ttf);
}

body {
    position: relative;
}

#nav-nomargin {
   margin-bottom: 0px;
   border-bottom: 1px solid rgba(127, 127, 127, 0.4);
   box-shadow: 0 1px 1px rgba(127, 127, 127, 0.2);
   background-color: rgba(248, 248, 248, 0.95);
}

.navbar-brand {
	font-family: Viking;
}

#myNavbar {
	margin: 6px;
}

#myNavbar > ul > li > a:hover {
	color: #333;
}

#navbar-logo img {
	display: inline-block;
}

#footer {
    color: white;
    text-align: center;
    font-size 2vh;
    background-image: url(https://bukkit.org/smilies/obsidian.png);
	background-size: cover;
	background-position: center;
}

#footer p {
	margin-top: 10px;
}

#center-text-footer {
    display: inline-block;
}

#changeCurrency {
	padding-bottom: 0px;
	padding-top: 10px;
}

#changeCurrency img {
	width: 30px;
}