<html>
    <head>
        <!-- Page title -->
        <title>myServerPage</title>
        
        <!-- Import CSS -->
        <link rel="stylesheet" href="main.css" type="text/css">
        
        <!-- Import Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="page-wrapper">
            <div class="jumbotron myHeaderImage">
                <h2 class="headerText">My Game Server</h2>
            </div>
            
            <div class="contentStart">
            
            </div>
            
            <div class="content">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </body>
</html>